.contacts-section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.social-block {
  width: 100%;
  padding: 40px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e2f42;
  color: #fff;
}
.social-title {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
}
.social-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.social-item {
  display: flex;
  list-style: none;
  color: #fff;
  padding: 0 12px;
  width: 180px;
  height: 48px;
  border: 1px solid #f4f4fd;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #fff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:hover {
  background-color: #f4f4fd;
}

.social-item:hover .social-link {
  color: #2e2f42;
}
.social-item:hover .social-icon {
  fill: #2e2f42;
}

.form-bolck {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
