/* ==========================section doing============================== */

.section-doing {
  display: block;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 120px;
}

.section-doing-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
  gap: 12px;
}

.section-doing-list-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

@media screen and (min-width: 1199px) {
}
