/* ========================normalize========================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.links {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style-type: none;
}
img {
  display: block;
}
/* ======================= components ======================= */
:root {
  --main-font: "Roboto";
  --logo-font: "Raleway";
}

.container {
  box-sizing: border-box;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-main-title {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  margin-top: 8px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ======================= /components ======================= */
body {
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
/* ==================TopLine============================ */
.head-page {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  align-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.haed-container {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  flex-direction: row;
}
.webstudio {
  margin-right: 76px;
  text-decoration: none;
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}
.web {
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}

.menu-list {
  gap: 40px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
}
.menu-list-point {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* address */

.address-box-list {
  gap: 40px;
  display: flex;
  color: #ffffff;
}
.address-box-item {
  color: #ffffff;
}
.address-box-point {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =============================Hero Image ============================== */
/* section1 */
.section1 {
  padding-top: 188px;
  padding-bottom: 188px;
  background: #2e2f42;
  text-align: center;
}
.hero-image-title {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-image-button {
  margin-top: 48px;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.hero-image-button:hover,
.hero-image-button:focus {
  cursor: pointer;
  color: #4d5ae5;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}
/* ==========================Section2======================== */

.section2-main-title {
  visibility: hidden;
  margin: 0;
}
.section2-list {
  box-sizing: border-box;
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.section2-list-item {
  width: 264px;
}

/* ==========================section3============================== */
.section3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section3-list {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  gap: 24px;
}

/* ==============================section4=========================== */
.section4 {
  padding-bottom: 120px;
  padding-top: 120px;
  text-align: center;
  background: #f4f4fd;
}

.section4-list {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
  color: #f4f4fd;
}
.section4-list-item {
  /* margin-right: 24px; */
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 380px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.section4-text-box {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* ===================footer=========================== */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2e2f42;
}
.studio-footer {
  color: #ffffff;
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}
.footer-text {
  margin-top: 16px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
/* =========================portfolio========================== */
.portfolio-box {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-box1-title {
  visibility: hidden;
  margin: 0;
}
.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.button-list-item {
  color: #f4f4fd;
}
.menu-button {
  padding: 12px, 24px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.menu-button:hover,
.menu-button:focus {
  color: #ffffff;
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.all {
  min-width: 69px;
  min-height: 48px;
}
.website {
  min-width: 116px;
  min-height: 48px;
}
.app {
  min-width: 78px;
  min-height: 48px;
}
.design {
  min-width: 101px;
  min-height: 48px;
}
.marketing {
  min-width: 126px;
  min-height: 48px;
}

/* =======================galery======================== */
.row-list {
 margin-top: 72px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.row-list-item {
  box-sizing: border-box;
  width: 360px;
  height: calc((100-96) / 3);
  background: #ffffff;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-text-box {
  padding-left: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 8px;
}
.row-list-title {
  /* padding-left: 16px; */
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.row-list-text {
  margin-top: 8px;
  color: #434455;
  /* padding-left: 16px; */
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
