/* head-page */



/* section2 */

/* section3 */

/* section4 */


.webstudio-footer {
  text-decoration: none;
  padding-top: 20px;
  padding-left: 156px;
}
.web-footer {
  color: #4d5ae5;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}
.studio-footer {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}
.footer-text {
  padding-left: 156px;
  padding-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>Page Portfolio <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* >>>>>>>>>>>> filters <<<<<<<<<<<<<<<<<<<*/
.portfolio-body {
  position: relative;
  width: 1440px;
  height: 2074px;
}
/* 
{
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 69px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  order: 1;
  flex-grow: 0;
} */
.website {
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  order: 1;
  flex-grow: 0;
}
.app {
  margin-left: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.design {
  margin-left: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.marketing {
  margin-left: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 126px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* .button-text-click { 
  margin-left: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}*/
.row-list {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.row1-list,
.row2-list,
.row3-list {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  margin-top: 72px;
  margin-left: 60px;
}
.row1-list-item,
.row2-list-item,
.row3-list-item {
  margin-left: 24px;
  box-sizing: border-box;
  width: 360px;
  height: 420px;
  background: #ffffff;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.row1-list-title,
.row2-list-title,
.row3-list-title {
  padding-left: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.row1-list-text,
.row2-list-text,
.row3-list-text {
  padding-left: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer-portfolio {
  padding-top: 40px;
  width: 1440px;
  height: 240px;
  background: #2e2f42;
}
.webstudio-footer-portfolio {
  text-decoration: none;
  padding-top: 20px;
  padding-left: 156px;
}
.web-footer-portfolio {
  color: #4d5ae5;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}
.studio-footer-portfolio {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}
.footer-text-portfolio {
  padding-left: 156px;
  padding-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}